.bannerPublicity {
  align-items: center;
  display: flex;
  height: 15vw;
  justify-content: center;
  position: relative;
  @media (max-width: $media) {
    height: 40vw;
  }
  .imgPublicity {
    height: 80%;
    width: auto;
  }
  .degradeGen {
    height: 100%;
    position: absolute;
    top: 0;
    width: 10vw;
    @media (max-width: $media) {
      width: 20vw;
    }
  }
  .degradeRL {
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0),
      $seconColor
    ); /* Difuminado de transparente a color de background */
    left: 0;
  }
  .degradeLR {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      $seconColor
    ); /* Difuminado de transparente a color de background */
    right: 0;
  }
}
