.mostPopular {
  align-items: center;
  display: flex;
  background-color: $seconColor;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3vw;
  p {
    color: $colorTxtPrin;
  }
  .titleGen {
    margin-bottom: 1vw;
    margin-top: 5vw;
    font-size: 3vw;
  }
  .pTitle {
    font-size: 2vw;
  }
  img {
    height: 20vw;
    border-radius: 2vw;
    margin-top: 3vw;
    width: auto;
  }
  .resume {
    text-align: justify;
    margin-top: 3vw;
    width: 70vw;
  }
}
