.tamaño {
  height: 30vw;
  @media (max-width: $media) {
    height: 60vw;
  }
  div {
    height: 100%;
    img {
      height: 100%;
    }
  }
}
.SectionG {
  background-color: $seconColor;
  width: 100%;
  padding-bottom: 2vw;
  @media (max-width: $media) {
    padding-bottom: 4vw;
  }
  .Container {
    width: 90%;
    margin: auto;
    color: $colorTxtPrin;
    .Titulo {
      text-align: center;
      font-size: 3vw;
      margin-bottom: 1vw;
      @media (max-width: $media) {
        font-size: 6vw;
        margin-bottom: 2vw;
      }
    }
    .Historia {
      font-size: 1.5vw;
      @media (max-width: $media) {
        font-size: 3vw;
      }
    }
  }
}
