.NoMatch {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  .imgMatch {
    align-items: center;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    p {
      background-color: #1010107a;
      color: #ffffff;
      font-size: 5vw;
    }
    .buttonHome {
      align-items: center;
      background-color: #ff204e;
      border-radius: 5vw;
      color: #00224d;
      cursor: pointer;
      display: flex;
      font-size: 2vw;
      justify-content: center;
      height: 4vw;
      width: 10vw;
    }
  }
}
